
@{
    ViewData["Title"] = "ProductMain";
}

<div class="row" style="color:white">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a href="/Home/Index">

            <button style="color: white; background-color: black; padding: 4px 35px;margin-top:5%">Sign Out</button>
        </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <h3 style="color:black">Welcome Product Manager</h3>
    </div>
    <div class="row" style="margin-left:7%;margin-top:10%">
        <div class="col-md-4">
            <a href="/Product/Index">
                <img style="width:20%;margin-left:10%" src="/Images/searchImage.jpg" alt="Icon" />
                <h4 style="color:black;margin-top:3%">View Products</h4>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/Product/Create">
                <img style="width:20%;margin-left:16%" src="/Images/createImage.png" alt="Icon" />
                <h4 style="color:black;margin-top:3%">Create Products</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Product/Update">
                <img style="width:30%;margin-left:13%" src="/Images/settingImage.png" alt="Icon" />
                <h4 style="color:black;margin-top:3%">Update Products</h4>
            </a>
        </div>
    </div>
    <div class="col-md-12" style="height:100px;background-color:black;margin-top:3%">

    </div>
</div>


