@model IEnumerable<WEB2022Apr_P02_T3.Models.Feedback>

@{
    ViewData["Title"] = "View Feedback";
}

<h4 class="PageTitle">View Feedback</h4>
<p><a asp-action="Create">Create New Feedback</a></p>
<!-- Add a partial view to display a list of feedback
in a tabular format. -->
<partial name="~/Views/Feedback/_ViewFeedback.cshtml" model="@Model" />
