<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ZZ Fashion </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Marketing")
            {
                @await Html.PartialAsync("_MarketingMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "ProductManager")
            {
                @await Html.PartialAsync("_ProductMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "SalesPersonnel")
            {
                @await Html.PartialAsync("_SalesMenu.cshtml")
            }
        }
    </header>
    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userRole = "nil";
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userRole</span>&nbsp;
                    
                </p>
            </div>
        </div>
        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top small text-right text-muted">
        <p style="padding-right:15px; padding-top: 5px">
            WEB Practical Exercises - &copy;@DateTime.Today.Year
            School of ICT, Ngee Ann Polytechnic
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
