@model WEB2022Apr_P02_T3.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-2">
        <a asp-action="Index" class="btn btn-primary"> List of products </a>
    </div>
    <div class="col-md-8">
        <h3 class="text-center" style="margin-top:3%;color:white">Create New Products</h3>
    </div>
    <div class="col-md-4"></div>
</div>
<form asp-action="Create" method="post">
    <div class="row" style="margin-top:5%">
        <div class="col-md-2">

        </div>

        <div class="col-md-4" style="margin-top:5%">

            <h4>Upload Product Image</h4>
            <img src="/Images/NoImage.png" style="width:40%;background-color:white" alt="Alternate Text" />
            <input type="file" style="margin-top:2%" asp-for="ProductImage" value="" />
        </div>
        <div class="col-md-4">

            <input type="text" class="form-control" placeholder="Enter Product Title" asp-for="ProductTitle" value="" />
            <span asp-validation-for="ProductTitle" class="text-danger"></span>
            <input type="text" class="form-control" style="margin:5% 0%" placeholder="Enter Price ($20 - $500)" asp-for="Price" value="" />
            <span asp-validation-for="Price" class="text-danger"></span>
            <input type="date" class="form-control" placeholder="Enter effective Date" asp-for="EffectiveDate" value="" />
            <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            <input type="hidden" class="form-control" style="margin:5% 0%" placeholder="Obsolete" asp-for="Obsolete" value="1" />
            <span asp-validation-for="Obsolete" class="text-danger"></span>
            <input type="submit" value="Create" style="margin-left:10%; margin-top:10%; margin-bottom:10%; padding:5px 35px;color:black;background-color:white" />
        </div>
    </div>
</form>
