@model WEB2022Apr_P02_T3.Models.Product
@{
    ViewData["Title"] = "Update";
}

<h4 class="PageTitle">Update Product</h4>

<hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ProductId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProductId" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProductTitle"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProductTitle"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProductImage"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Price"
                       class="form-control" />
                <span asp-validation-for="ProductImage"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EffectiveDate"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EffectiveDate" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Obsolete"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Obsolete" class="form-control" />
                <span asp-validation-for="Obsolete"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>